body{
  margin: 0;
  background-image: url('../images/back.jpg') ;
}

.main-content{
  margin-top:-370px;
}
.contain_table{
    width:1000px;
    margin-left:100px;
}

.add-users-btn{
    margin-top:50px;
    margin-bottom:5px;
    justify-content: space-between!important;
    padding:10px 20px 10px 20px;
    font-size:medium;
    
 
}
.fu-btn{
    text-align: right!important;
}
table{
    width:100%;
}
th{
    background-color: royalblue;
    color:#fff;
    text-align: center;
}
td{
  font-weight:bold;
}
tr:nth-child(even) { 
    background-color: rgba(240, 235, 235, 0.589); 
} 
table,th,td{
    padding:10px 10px 10px 10px!important;
    border:#222 1px solid;
    font-size: medium;
    text-align: center;
}

/*********************
    ADD USERS
**********************/
.wrapper{
    width:40%;
    margin-left:20%;
    
}
select{
    width:60%!important;
    height:50px!important;
    margin-bottom:25px;
    font-weight: bold;
    text-align-last:center;
    float: left;
}

form {
    width: 50%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    font-size:medium  !important;
  }
  
  
  label {
    display: block;
    position: relative;
    margin: 40px 0px;
  }
  
  .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
  }
  
  
  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .line-box {
    position: relative;
    width: 100%;
    height: 1px;
    background: #BCBCBC;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
  } 
  
  .input:focus + .line-box .line {
    width: 100%;
  }
  
  .label-active {
    top: -3em;
  }
  
  #sumbit_user, #submit_user_edit {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  } 
  
  #sumbit_user:hover {
    background: #8BC34A;
    color: #ffffff;
  } 
  #submit_user_edit:hover {
    background: #8BC34A;
    color: #ffffff;
  } 

  .valid{
    float: left;
    color:rgb(46, 185, 46);
  }
  .invalid{
    float: left;
    color:rgb(212, 63, 63);
  }
.valid:before{
    font-family: "FontAwesome";
    content: "\F00C";
    display: inline-block;
    padding-right: 2px;
    float:left;
    vertical-align: middle;
    font-weight: 900;
    font-size: 15px;
    color:rgb(46, 185, 46);
}
.invalid:before{
    font-family: "FontAwesome";
    content: "\F00D";
    display: inline-block;
    padding-right: 2px;
    float:left;
    vertical-align: middle;
    font-weight: 900;
    font-size: 15px;
    color:rgb(190, 40, 40);
}

/*********************
    PICTURE FRAME
**********************/

.frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em;
  background: #ccc;
}

.frame--dads {
  width: 54em;
  height: 69.75em;
  border: 3.5em solid darkred;
}

.frame--ikea {
  border: 1.8em solid black;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.frame--ikea-silver {
  border: 2em ridge #eee;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.frame--virserum {
  border: 4em ridge #EFBF8B;
}


.frame--thin {
  border-width: 0.8em;
}


.frame--silver {
  border-color: hsl(0, 0%, 90%);
}

.frame:after {
  position: absolute;
  bottom: -1.5em;
  right: 0;
  font-size: 2.7em;
  color: #333;
}

.frame--ikea:after {
  bottom: -2.4em;
}
.frame--50-70 {
  width: 50em;
  height: 70em;
}
.frame--50-70.frame--ikea:after {
  content: '50 x 70 NYTTJA - £7'
}

.pic {
  box-sizing: border-box;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px!important;
  height: 100px!important;
  padding:0px;
}
.pic img {
  width: 100px!important;
  height: 100px!important;
}
.pic--throne {
  width: 61em;
  height: 43.1em;
  padding: 2em;
}