body{
    margin: 0;
    background-image: url('../images/back.jpg') ;
}

.previous {
    background-color: #f1f1f1;
    color: black;
  }
.round {
    border-radius: 50%;
  }

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  

.ui-autocomplete
{
    
    max-height:150px;
    max-width: 13%;
    overflow-y: auto; overflow-x: hidden;
    background-color: aliceblue;
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;   
}
.ui-helper-hidden-accessible{
    display:none !important;
}
.ui-state-active {
    background-color:  #1aa3ff;
    
    color:white;
}
.req_qty
{
    min-width:"50px";
    
}
.highlight
{
    background-color: #ffffb3;
    border-style:solid;border-color:white;
}

.r_row
{
    background-color:#ccffff;border-style:solid;border-color:white;
}

.invalid {
    background:url("cancel.png") no-repeat 0 50%;
    padding-left:22px;
    line-height:22px;
	color:red;
	
}

.due::after{
   font-family: "FontAwesome";
   content: "\f06a";
   display: inline-block;
   padding-right: 30px;
   float:right;
   vertical-align: middle;
   font-weight: 900;
   font-size: 22px;
   color:rgb(212, 80, 80);

}

.not_due:after{
    font-family: "FontAwesome";
    content: "\F0C8 ";
    display: inline-block;
    padding-right: 30px;
    float:right;
    vertical-align: middle;
    font-weight: 900;
    font-size: 22px;
    color:transparent;
}