

.list-type1{
  width:400px;
  margin:0 auto;
  
  }
  
  .list-type1 ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-bottom: 4em;
  }
  .list-type1 ol ol{
  margin: 0 0 0 2em;
  }
  
  .list-type1 a{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #93C775;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 10em;
  transition: all .2s ease-in-out;
  }
  
  .list-type1 a:hover{
  background: #d6d4d4;
  text-decoration:none;
  transform: scale(1.1);
  }
  
  .list-type1 a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background:green;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color:#FFF;
  }

body {
  background-color: #02111b;
}

.logo {
  
  padding:20px;
  text-align: center;
  background-color:#93C775;
  width:100% auto;
}
.logo a {
  text-decoration: none;
  -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -ms-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -o-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  font-family: 'Exo 2';
  line-height: 0.8;
  color: #fbd62a;
  text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9), 0 1px 0 #7f6303, 0 3px 0 #846703, 0 5px 0 #896b03, 0 7px 0 #8e6f03, 0 9px 0 #937203, 0 6px 50px rgba(252, 223, 92, 0.8);
}
.logo a:first-line {
  font-size: 0.8em;
}
.logo a:hover {
  -webkit-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -moz-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -ms-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -o-transform: perspective(8em) rotateX(11deg) scale(1.2);
  transform: perspective(8em) rotateX(11deg) scale(1.2);
  text-shadow: 0 -1px 15px black, 0 1px 0 #7f6303, 0 2px 0 #846703, 0 0px 0 #896b03, 0 1px 0 #8e6f03, 0 2px 0 #937203, 0 2px 30px rgba(252, 223, 92, 0.6);
}

.ret{
  width:100%;
  margin:0 auto;
  padding:0px;
  
  }
  
  .ret ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-bottom: 4em;
  }
  .ret ol ol{
  margin: 0 0 0 2em;
  }
  
  .ret a{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: red;
  color:#ffccff;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 10em;
  transition: all .2s ease-in-out;
  }
  
  .ret a:hover{
  background: #d6d4d4;
  color:black;
  text-decoration:none;
  transform: scale(1.1);
  }
  
  .ret a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background:red;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color:#FFF;
  }

  .topnav {
    background-color:#f5f5f0;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
  float: right;
  color:Black;
  text-align: center;
  padding: 20px 16px;
  font-family: 'Lato', sans-serif;
  font-weight:Bold;
  text-decoration: none;
  font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
  color:#A12023;
  }
  .logout a:hover{
    color:red;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: grey;
  color:#A12023;
  }

  /* Right-aligned section inside the top navigation */
  .topnav-right {
  float: right;
  }   

  .dropdown{
  margin-top: 30px ;
  text-align: center;
  }
  .an{
    float:left;
    padding-top:2px;
    margin-Bottom:18px;
    padding-left:8px;
    height:80px;
    width:100x;
  }
  .trust{
    float:right;
    padding-top:8px;
    padding-Right:15px;
    height:70px;
    width:100x;
  }