

body {
  background-color: #02111b;
  margin: 0;
  background-image: url('../images/back.jpg') ;
}

.logo {
  
  padding:20px;
  text-align: center;
  background-color:rgb(1, 1, 58);
  width:100% auto;
}
.logo a {
  text-decoration: none;
  -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -ms-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -o-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  font-family: 'Exo 2';
  line-height: 0.8;
  color: #fbd62a;
  text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9), 0 1px 0 #7f6303, 0 3px 0 #846703, 0 5px 0 #896b03, 0 7px 0 #8e6f03, 0 9px 0 #937203, 0 6px 50px rgba(252, 223, 92, 0.8);
}
.logo a:first-line {
  font-size: 0.8em;
}
.logo a:hover {
  -webkit-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -moz-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -ms-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -o-transform: perspective(8em) rotateX(11deg) scale(1.2);
  transform: perspective(8em) rotateX(11deg) scale(1.2);
  text-shadow: 0 -1px 15px black, 0 1px 0 #7f6303, 0 2px 0 #846703, 0 0px 0 #896b03, 0 1px 0 #8e6f03, 0 2px 0 #937203, 0 2px 30px rgba(252, 223, 92, 0.6);
}

.download-btn{
  background-color: RoyalBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  float: right;
  
}

.download-btn:hover {
  background-color: rgb(65, 100, 202);
}
  table, th, td {
    border: 1.5px solid black;
    margin-top:40px;
    padding:10px;
    margin-left:25px;
 
    
  }
.download-btn:focus{
  outline:none;
}
  th{
    background-color: RoyalBlue;
    color: #fff;
  }

  td{
    word-wrap:break-word;
  }
  table{
    
    word-wrap:break-word;
    width:75%;
  }